<!DOCTYPE html>

<html>

<head>
  <title>Spaces</title>
</head>

<body>
  <h1>Nomads</h1>
      <% if @user %>
      <h1>Welcome, <%= @user.username %></h1>
      <% else %>
      <h1> Welcome! </h1>
      <% end %>
    <ul>
    <% @space.each do |space| %>
      <% if space.available %>
        <li> Name : <%= space.name %> </li>
        <li> Description: <%= space.description %> </li>
        <li> Price: <%= space.price %> </li>
        <li> Date Available: <%= space.available_date %> </li>
        <form action="/spaces/<%= space.name %>" method="post">
          <input type="submit" id="<%space.name%>" value= "Request" />
        </form>
      <% end %>
    <% end %>
  </ul>

     <h2><% @viewuser %></h2>

    <ul>
    <% @viewusers.each do |user| %>
     <li> id : <%= user.id %> </li>
      <li> Username : <%= user.username %> </li>
    <% end %>
    </ul>

      <%# <ul> %>
    <%# <% @viewuser.each do |user| %> %>
      <%# <li> Username : <%= user.username %>  %>
      <%# </li> %>
    <%# <% end %> %>
    <%# </ul> %>



</body>

</html>
